
<div class='container'>
  <form method="post" action="/game/create">
    <div>
      <label>Game Title:</label>
      <input type="text" name="title" value="">
    </div>
    <div>
      <label>Health:</label>
      <input type="text" name="health" value="">
    </div>
    <div>
      <label>Number of Cards in a deck:</label>
      <input type="text" name="deck_size" value="">
    </div>
    <div>
      <label>Number of Cards on hand:</label>
      <input type="text" name="hand_size" value="">
    </div>
    <div><input type="submit" value="Submit"></div>
  </form>
</div>