<a href="/dash"> <button class="waves-effect waves-light btn ">BACK</button></a>
<br>
<br>
<div class='container'>
<br>
  <form method="post" action="/game/create">
    <div>
      <label class="flow-text">Game Title:</label>
      <input type="text" name="title" value="">
    </div>
    <div>
      <label class="flow-text">Health:</label>
      <p class="range-field">
        <input type="range" name="health" value="0" min="0" max="20" />
      </p>
    </div>
    <div>
      <label class="flow-text">Number of Cards in a deck:</label>
      <p class="range-field">
        <input type="range" name="deck_size" value="0" min="0" max="50" />
      </p>
    </div>
    <div>
      <label class="flow-text">Number of Cards on hand:</label>
      <p class="range-field">
       <input type="range" name="hand_size" value="0" min="0" max="10" />
      </p>
    </div>
    <br>
    <div><button class="waves-effect waves-light btn amber accent-3" type="submit" value="Submit">Submit</button></div>
  </form>
</div>