<form method="post" action="/signup">
  <div>
    <label>Name:</label>
    <input type="text" name="name" placeholder="name">
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="email" placeholder="email">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" placeholder="password">
  </div>
  <div>
    <label>Avatar:</label>
    <input type="text" name="avatar">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  <a href="/">Home</a>
</form>
