<form method="post" action="/signup">
  <div>
    <label>Name:</label>
    <input type="text" name="name">
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="email">
  </div>
  <div>
    <label>Password:</label>
    <input type="text" name="password">
  </div>
  <div>
    <label>Avatar:</label>
    <input type="text" name="avatar">
  </div>
  <h3></h3>
  <div>
    <input type="submit" value="Submit">
  </div>
  
</form>
