<p>click this link to play!</p>
<a href = "/board/<%= @id %>/player1"> PLAY! </a>

<p>Send this link to your opponent! <p>
<a href = "/board/<%= @id %>/player2"> http://localhost:3000/board/<%= @id %>/player2</a>

