  <div>
    <label>Name:</label>
    <input type="text" name="name" value="<%= @a_card.name%>">
  </div>
  <div>
    <label>Picture:</label>
    <input type="text" name="picture" value="<%= @a_card.picture%>">
  </div>
  <div>
    <label>Attack Power:</label>
    <input type="text" name="attack" value="<%= @a_card.attack%>">
  </div>
  <div>
    <label>Defense:</label>
    <input type="text" name="defense" value="<%= @a_card.defense%>">
  </div>
  <div><input type="submit" value="Submit"></div>