<div class="container">
<form method="post" action="/game/<%= @a_game.id %>/cards/<%= @a_card.id%>/update">
<input type="hidden" name="_method" value="put">
<%=  erb :'game/card/_form' %>
</form>
</div>