<h1>Login:</h1>
<form action="/login" method="POST">
  <legend for="email"></legend>
  <input type="text" name="email" value="email">
  <legend for="password"></legend>
  <input type="password" name="password" value="password">
  <input type="submit" value="Submit">
</form>