<div class="valign-wrapper">
<div class="row">
<form class="col s12" action="/login" method="POST">
  <h3 class="flow-text valign"> Login:</h3>

  <div class="row input-field col s6">
  <input type="text" name="email" placeholder="email">
  </div>

  <div class="row input-field col s6">
  <input type="password" name="password" placeholder="password">
  </div>
  <button class="waves-effect waves-light btn red lighten-2" type="submit" value="Submit">Submit</button>
</form>
</div>
</div>