
<div class="container">
<br><br><br>
    <div class="card large">
    <div class="card-image waves-effect waves-block waves-light">
    <center><br><br><br> <img class="activator" src="background.jpg" style="height: 350px; width: 750px;">
    </center>
    </div>
    <div class="card-content teal darken-3">
      <i class="material-icons right medium white-text">info_outline</i></span>
      <span class="card-title activator white-text text-darken-4"><h4>Thanks for playing! The game is over.</h4>
      <p><a class="btn waves-effect waves-light amber" href="/dash">Go back to your Dashboard</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Here are your game details<i class="material-icons right">done</i></span>
    </div>
  </div>

</div>

