<% if current_user %>
  <p>current user: <%= current_user.name%></p>

  <a href="/game/create">Create new game</a>

  <% @games.each do |game|%>
    <div class="game">
      <p><%= game.title %></p>
      <p><a href="/game/<%= game.id %>/play">play</a></p>
      <p><a href="/game/<%= game.id%>">info</a></p>

    </div>
  <% end %>

<% end %>