<div class="container">
<div class="home_page">
<center>
<span class="front_name"><strong>Qard</strong></span><br>
<a class="waves-effect waves-light btn-large amber accent-3 button_like" href = "/dash"> Start Playing </a>
</center>
</div>
</div>

<div class="container">

<div class="splash_img"><center><img class="splash_bkgd" src="/background.jpg"></center></div>
</div>